*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
h3,h2{
    padding:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    text-align: center;
}
.btn{
    border:none;
    background-color: black;
    border-radius: 50%;
    height:15rem;
    width: 15rem;
}
.btn:focus{
    outline: none;
}

img{
    height: 10em;
    cursor:pointer;
    user-select:none;
}

.closed{
    display:none;
}

.open{
    display:none;
}

.active,.show{
    display:block;
}
.reload
 {
        margin: 20px;
        height: 50px;
        width: 250px;
        font-size: 20px;
        font-family: verdana;
        color: aliceblue;
        background-color: aquamarine;
        border: none;
        cursor: pointer;
}

.copy{
    position:relative;
    margin-top:150px;
}